@import url("/src/assets/styles/styles.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Yekan Bakh', serif ;
    background: white;
    overflow: hidden;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.app-content {
    scrollbar-width: none;
}
.dotted-list li::before {
    content: '•';
    position: absolute;
    right: 0;
    top: 5;
    color: black;
}

@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        .Safari-specific-style {
            padding-bottom: "90px";
        }
    }
  }